ABI/
illumos-gate/
arm-docs/
archives/
build/
src/
reference/
stamps/
out/

**/.make.state
**/*.o
**/*.a
**/*.so
**/*.so.*

qemu-setup/illumos-disk.img
qemu-setup/illumos-disk.img.zst
qemu-setup/inetboot.bin
qemu-setup/testsuite.log
qemu-setup/u-boot.bin
qemu-setup/*.fd
rpi4-setup/
rpi4-edk2-setup/
usb-image/

qemu-setup/dummy.img
qemu-setup/mikey-modified.dtb
qemu-setup/mikey.dtb
qemu-setup/mikey.dts
qemu-setup/run-crazy-topo.sh
qemu-setup/vm.uuid
run.log
patches/u-boot.patch.mike
