ABI/
illumos-gate/
arm-docs/
archives/
build/
src/
reference/
stamps/
out/

**/.make.state
**/*.o
**/*.a
**/*.so
**/*.so.*

qemu-efi-setup/*.fd
qemu-efi-setup/illumos-disk.img
qemu-efi-setup/boot
qemu-setup/illumos-disk.img
qemu-setup/inetboot.bin
rpi4-setup/

